body {
  background-image: radial-gradient(circle at 90% 20%, rgba(109, 80, 181, 0.25), transparent 40%);
  background-color:rgb(7, 6, 21);
  background-attachment: fixed;
}
#navbar{
    display:flex;
    justify-content:right;
    align-items:right;
    padding: 10px 20px;
    background-color:rgb(3, 2, 10);
    border-radius:25px;

}
.navlink{
    text-decoration:none;
    display:flex;
    gap:20px;
    color:white;
    font-size:20px;
    margin-left:50px;
    padding-top:15px;
    
}
#main-title{
    color:white;
    display:inline-block;
    margin:0;
    font-size:25px;
    margin-right:600px;

}
#intro{
    margin-top:200px;
    margin-left:30px;
    color:white;
    font-size:30px;
}
#intro1{
    margin-top:0px;
    font-size:50px;
    margin-left:30px;
    color:rgba(109, 80, 181);
    text-align:left;
}
#intro2{
    color:white;
    font-size:20px;
    margin-left:30px;
}
footer{
    margin-top:150px;
    color:white;
    text-align:center;
}
.links{
    color:white;
    text-decoration:none;

}
#story{
    color:rgba(109, 80, 181);
    font-size:60px;
    margin-top: 200px;
    text-align:center;
}
